body {
    text-align: center;
}

.sidebar {
    display: inline-block;
    font-family: helvetica;
    width: 380px;
    float: none;
    position: relative;
    margin: 0 0 0 20px;
    padding: 0 0 0 0;
    text-align: center;
}

.testimonials {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 0 0 40px 0;
}

.testimonial {
    position: relative;
    display: table;
    margin: 20px 0 0 0;
    vertical-align: middle;
}

.testimonial:first-child {
    margin: 0;
}

.testimonial > div {
    display: inline-block;
    position: relative;
}

.testimonial > .quote {
    position: relative;
    width: 278px;
    border: 1px solid #dde8f1;
    background-color: #e2edf6;
    overflow: visible;
}

.testimonial > .quote .txt {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    color: #394c5b;
    padding: 20px;
    text-align: left;
    font-weight: 100;
}

.testimonial > .quote .auth {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    color: #394c5b;
    text-align: left;
    padding: 0 20px 20px 20px;
    font-weight: 600;
}

.testimonial > .quote.right {
    float: right;
}

.testimonial > .quote.left {
    float: left;
}

.testimonial > .quote.right:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin: -10px 0 0 0;
    left: -20px;
    width: 0;
    height: 0;
    border-width: 10px;
    border: 10px solid #E2EDF6;
    border-left-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.testimonial > .quote.left:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin: -10px 0 0 0;
    right: -20px;
    width: 0;
    height: 0;
    border-width: 10px;
    border: 10px solid #E2EDF6;
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.testimonial > .pic {
    width: 74px;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}

.testimonial > .pic .area {
    position: relative;
    width: 74px;
    height: 74px;
    background-position: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #CCC;
    display: table-cell;
    margin: auto 0;
    vertical-align: middle;
}

.testimonial > .pic.left {
    padding: 0 26px 0 0;
}

.testimonial > .pic.right {
    padding: 0 0 0 26px;
}
